/*

Module Name: FavSlider
Description: Responsive Joomla! Slider based on Flexslider 2 by Woothemes
Author: FavThemes
Author URI: http://www.favthemes.com
License: GNU General Public License v3.0
License URI: http://www.gnu.org/copyleft/gpl.html

jQuery FlexSlider v2.0
http://www.woothemes.com/flexslider/
Copyright 2012 WooThemes
Free to use under the GPLv2 license.
http://www.gnu.org/licenses/gpl-2.0.html
Contributing author: Tyler Smith (@mbmufffin)

*/


/* Browser Resets
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.fav-container a:active,
.favslider a:active,
.fav-container a:focus,
.favslider a:focus  {
	outline: none;
}
.favs,
.fav-control-nav,
.fav-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}


/* FlexSlider Necessary Styles
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.favslider {
	margin: 0;
	padding: 0;
}
.favslider .favs > li {
	display: none;
	-webkit-backface-visibility: hidden;
	background:none!important;
	padding: 0px!important;
	position: relative;
} /* Hide the favs before the JS is loaded. Avoids image jumping */
.favslider .favs img {
	width: 100%;
	display: block;
}
.fav-pauseplay span {
	text-transform: capitalize;
}

/* Clearfix for the .favs element */

.favs:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .favs {
	display: block;
}
* html .favs {
	height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .favs > li:first-child {
	display: block;
}


/* FlexSlider Default Theme
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.favslider {
	margin: 0 0 38px;
	position: relative;
	zoom: 1;
}
div[id^="carousel-"].favslider,
div[id*=" carousel-"].favslider {
  margin-bottom: 3px;
}
.fav-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .fav-viewport {
	max-height: 300px;
}
.favslider .favs {
	zoom: 1;
}
#carousel img {
	display: block;
	opacity: .5;
	filter:alpha(opacity=50);
	cursor: pointer;
}
#carousel img:hover {
	opacity: 1;
	filter:alpha(opacity=100);
}
#carousel .fav-active-slide img {
	opacity: 1;
	filter:alpha(opacity=100);
	cursor: default;
}
.carousel li {
	margin-right: 5px;
}


/* Caption style
---------------------------------------------------------------------- */

/* IE rgba() hack */
#fav-caption {
	background:none;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	zoom: 1;
}
#fav-caption {
	text-align: center;
	width: 96%;
	padding: 2%;
	margin: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,.55);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	font-size: 18px;
	line-height: 25px;
}
#fav-caption h3 {
  text-align: center;
  color: #fff;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 1.3em;
}


/* Direction Nav
---------------------------------------------------------------------- */

.fav-direction-nav {
	*height: 0;
}
.fav-direction-nav a {
	width: 52px !important;
  height: 52px !important;
  margin: -26px 0 0;
	display: block;
	background: url(bg_direction_nav.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-transition: all .3s ease;
}
.fav-direction-nav .fav-next {
	background-position: 100% 0;
	right: 0px;
}
.fav-direction-nav .fav-prev {
	left: 0px;
}
.fav-direction-nav li .fav-prev {
  left: 0px;
}
.fav-direction-nav li .fav-next {
  background-position: -52px 0;
  right: 0;
}
.favslider:hover .fav-next {
	opacity: 0.8;
	filter:alpha(opacity=80);
	right: 5px;
}
.favslider:hover .fav-prev {
	opacity: 0.8;
	filter:alpha(opacity=80);
	left: 5px;
}
.favslider:hover .fav-next:hover,
.favslider:hover .fav-prev:hover {
	opacity: 1;
	filter:alpha(opacity=100);
}
.fav-direction-nav .fav-disabled {
	cursor: default;
}
.fav-disabled:hover {
	opacity: 0.3!important;
	filter:alpha(opacity=30)!important;
}
.fav-direction-nav li {
	margin: 0!important;
	padding: 0!important;
}


/* Control Nav
---------------------------------------------------------------------- */

.fav-control-nav {
	width: 100%;
	position: absolute;
	bottom: 8px;
	left:0;
	text-align: center;
}
.fav-control-nav li {
	margin: 0!important;
	display: inline-block;
	zoom: 1;
	*display: inline;
	background: none!important;
	padding: 0!important;
}
.fav-control-paging li a {
	background: #fff;
	border: 1px solid #B10058;
	width: 11px;
	height: 11px;
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	margin-right: 5px;
}
.fav-control-paging li a.fav-active {
	cursor: default;
}
.fav-control-paging li a:hover,
.fav-control-paging li a.fav-active {
  background: #B10058;
  border: 1px solid #B10058;
}
.fav-control-thumbs {
	position: static;
	overflow: hidden;
}
.fav-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.fav-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	filter:alpha(opacity=70);
	cursor: pointer;
}
.fav-control-thumbs img:hover {
	opacity: 1;
	filter:alpha(opacity=100);
}
.fav-control-thumbs .fav-active {
	opacity: 1;
	cursor: default;
	filter:alpha(opacity=100);
}
#carousel li:active img {
  opacity: 1;
}


@media screen and (max-width: 860px) {

  .fav-direction-nav .fav-prev {
  	opacity: 1; filter:alpha(opacity=100);
  	left: 0;
  }
  .fav-direction-nav .fav-next {
  	opacity: 1;
  	filter:alpha(opacity=100);
  	right: 0;
  }

}

.favslider li:before {
    display: none;
}
